<div id="header">
    <center ng-controller="PageHeaderController">
        <a href="" ng-click="LoadBST()">Binary Tree</a>
        <a href="" ng-click="LoadStack()">Stack</a>
        <a href="" ng-click="LoadQueue()">Queue</a>
        <a href="" ng-click="LoadHeap()">Heap</a>
        <a href="" ng-click="LoadLinkedList()">Linked List</a>
    </center>
    <div id="Username" ng-controller="HeaderLoginController" ng-show="isLoggedIn">
        Welcome, {{username}}! <a href="#" ng-click="logout()">Logout.</a>
    </div>    
    <div id="Username" ng-controller="HeaderLoginController" ng-show="!isLoggedIn">
        Please <a href="#" ng-click="toggleRegLoginForm()">login.</a>
    </div>
</div>
