div#ContentContainer {
  position:absolute;
  width:100%;
  overflow-y:hidden;
  top:0;
  bottom:0;
}

canvas#LineDrawCanvas {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}