div#RegLogin {
    position: relative;
    background-color: #283618;  
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
    top: 150px;
    font-size: 1.2em;
    font-family: "Segoe UI",Arial,sans-serif;
    color: white;
    z-index: 101;
  }
  
div#RegLogin form {
    width: 300px;
    height: 100px;
    top: 40%;
    left: 50%;
    position: absolute;
    margin: -50px 0 0 -150px;
}

div#RegLogin input {
      margin: 10px 0 10px 0;
      width: 220px;      
}

div#RegLogin input[name="login"] {
    width: 229px;
    background-color: #BC6C25;
    padding: 0;
    border: none;
    height: 32px;
    color: #FEFAE0;
}

div#RegLogin input[name="login"]:hover {
    background-color: #DDA15E;
    text-decoration:  none;
    padding: 0;
    border: none;
    color: #FEFAE0;
}

div#RegLogin input[value="username"] {
    color: #90949c;
    padding-left: 5px;
}

div#RegLogin input[value="password"] {
    color: #90949c;
    padding-left: 5px;    
}
  
div#RegLogin a {
    bottom: 10px;
    position: absolute;
    width: 200px;
    margin: 0 0 0 -100px;
    font-size: 0.7em;
    text-decoration: none;
    color: #DDA15E;
}

div#RegLogin a:hover {
    color: #FEFAE0;    
}

div#RegLogin span#formHeader {
    top: 10px;
    width: 200px;
    left: 50%;
    font-size: 1.3em;
    margin: 0 0 0 -100px;
    position: absolute;
}

div#RegLoginBlackout {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000000a4;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div#RegLogin span#RegLoginErrMsg {
    bottom: 32px;
    position: absolute;
    width: 250px;
    margin: 0 0 0 -125px;
    font-size: 0.9em;
    text-decoration: none;
    color: #BC6C25;
}

@keyframes LoadingIconAnim {
    0%   {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

div#RegLogin img#LoadingIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0 0 0 -15px;
    bottom: 40px;
    animation-name: LoadingIconAnim;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}