div#NodeType-1 { /* Binary Search tree */
    background: #283618;  
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    position: absolute;
    pointer-events: auto;
    z-index: 0;
    cursor: pointer;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

div.NodeValue {
    padding-top: 10px;
    font-size: 1.2em;
    font-family: "Segoe UI",Arial,sans-serif;
    color: white;
    text-align: center;
    vertical-align: center;
    pointer-events: auto;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
}


div#NodeType-1:hover { /* Binary Search tree */
    background-color: #606C38;

}

div#NodeType-1 img { /* Binary Search tree */
    display: none;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

div#NodeType-1:hover img { /* Binary Search tree */
    display: inline;
    margin-top: -5px;

    -webkit-filter: opacity(1.0) drop-shadow(0 0 0 rgb(254, 250, 254));
    filter: opacity(1.0) drop-shadow(0 0 0 rgb(254, 250, 254));
}
  
