#header {
    background-color: #283618;
    font-size: 1.2em;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

#header a {
    padding-left: 30px;
    padding-right: 30px;
}

#header a:link {
    color: #FEFAE0;
    text-decoration:  none;
}

#header a:visited {
    color: #FEFAE0;
    text-decoration:  none;
}

#header a:hover {
    color: #DDA15E;
    text-decoration:  none;
}

#header a:active {
    color: #FEFAE0;
    text-decoration:  none;
}