div#Sidebar {
    position: absolute;
    left: 0px;
    top: 47px;
    width: 15%;
    height: 100%;
    overflow: hidden;
    background-color: #283618;
    font-size: 1.2em;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 5px;
}

div#Sidebar div#StructureTitle {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FEFAE0;
}

div#Sidebar div.StructureLink {
    color: #FEFAE0;
    width: 100%;
    cursor: pointer; 
}


div#Sidebar div.StructureLink:hover {
    color: #DDA15E;
    width: 100%;
    cursor: pointer;    
    background-color: #606C38;
}

div.StructureLink a {
    visibility: hidden;
}

div#Sidebar div.StructureLink:hover a {
    -webkit-filter: opacity(1.0) drop-shadow(0 0 0 rgb(254, 250, 254));
    filter: opacity(1.0) drop-shadow(0 0 0 rgb(254, 250, 254));
    visibility: visible;
    float: right;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

div#Sidebar div.StructureLink img {
    -webkit-filter: opacity(1.0) drop-shadow(0 0 0 rgb(221, 161, 94));
    filter: opacity(1.0) drop-shadow(0 0 0 rgb(221, 161, 94));
}


div#Sidebar input.StructureLinkName {
    display: inline-block;
    resize: none;
    background-color: #283618;
    border: none;
    padding-left: 20px;    
    
}

div#Sidebar input.StructureLinkName:hover {
    cursor: text;
    background-color: #606C38;
}

div#Sidebar input.StructureLinkName:visited {
    cursor: text;
    background-color: #606C38;
    border: none;    
}

div#Sidebar input.StructureLinkName:active {
    cursor: text;
    background-color: #606C38;
    border: none;    
    border-radius: 5px;
}

div.StructureLinkText {
    display: inline;
    padding-left: 20px;    
}