<div id="HeaderStructureContainer" ng-controller="StructureTitleController">
    <center>
        <div id="TitleContainer">
            <div id="HeaderStructureTitle" ng-show="!isTextSelected">{{headerStructureTitle}}</div>
            <input type="text" id="HeaderStructureTitle" maxlength="13" ng-model="headerStructureTitle" ng-show="isTextSelected" focus-element="isTextSelected" ng-keypress="submitText($event)" ng-blur="resetText()"></input>
            <img ng-mouseover="isHovered='_Hover'" ng-mouseleave="isHovered=''" ng-click="selectText()" src="img/EditIcon{{isHovered}}.png" />
        </div>
    </center>
    <center>
    </center>
    <center>
        <div id="HeaderStructureType">{{headerStructureType}}s</span>
    </center>
</div>