<button id="CreateStructure">Create</button>
<ul id="DropUpMenuContainer" ng-controller="DropUpMenuController">
    <li id="DropUpMenu" tab-index="0">
        <ul class="DropUpSubMenu">
            <li ng-click="createStructure('Integer')"><center><a href="#">Numbers</a></center></li>
            <li ng-click="createStructure('Character')"><center><a href="#">Letters</a></center></li>
            <li ng-click="createStructure('Word')"><center><a href="#">Words</a></center></li>
        </ul>
    </li>
</ul>